// 스타일 초기화 선언

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
main,
article,
aside,
footer,
header,
nav,
section {
    display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}
p,
span,
strong,
em,
b,
i,
mark,
small {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}
ul,
ol,
menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}
img {
    border-style: none;
    display: block;
    max-width: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
pre,
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    margin: 0;
    padding: 0;
    color: inherit;
    border: 0;
    outline: 0;
    background: none;
    appearance: none;
    -webkit-appearance: none;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
input[type='checkbox'],
input[type='radio'] {
    box-sizing: border-box;
    padding: 0;
    width: 16px;
    height: 16px;
    margin: 0;
    border: 1px solid #ccc;
    display: inline-block;
    background: #fff;
}
input[type='search']::-webkit-search-decoration {
    appearance: none;
}
textarea {
    overflow: auto;
    resize: none;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    min-inline-size: 0;
}
legend {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    padding: 0;
}
summary {
    display: list-item;
}
[hidden] {
    display: none;
}
::-webkit-file-upload-button {
    appearance: button;
    font: inherit;
}
::before,
::after {
    content: '';
    display: none;
}
