@use './styleReset';

header {
    padding: 20px;
    h1 {
        color: #222;
        font-size: 1.75rem;
        font-weight: 700;
    }
    .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        .navigation-link {
            display: block;
            margin: 0 0 0 15px;
            border-bottom: 1px solid rgba(0, 0, 0, 0);
            color: #333;
            font-size: 1.25rem;
            font-weight: bold;
            &.active {
                border-color: rgba(0, 0, 0, 0.5);
            }
        }
    }
}
.tab-navigation {
    display: flex;
    .tab-link {
        display: block;
        margin: 0 15px;
        &.active {
            font-weight: bold;
        }
    }
}
h2 {
    display: block;
    margin: 15px;
    font-weight: bold;
}
.align-flex {
    display: flex;
    > * {
        flex: 0 0 50%;
        display: block;
    }
}
.layout {
    position: relative;
    width: 100%;
    height: 300px;
    background: #eee;
    .react-grid-item {
        padding: 10px;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-sizing: border-box;
    }
}